.AnimShowHorizontal {
  opacity: 0;
  transform: translate(50%, 0);
  transition: all 0.4s ease-in-out;
}

.AnimShowVertical {
  opacity: 0;
  transform: translate(0px, 100px);
  transition: all 0.4s ease 0.1s;
}

[class*="Animation"] {
  opacity: 1;
  transform: translate(0px, 0px);
}

