.HeaderContainer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    align-items: center;
    column-gap: 25px;
  }
  @media (max-width: 767.98px) {
    .HeaderContainer {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .Logo {
      width: 2em;
      height: 1.5em;
    }
    .LogoTitle {
      font-size: 20px;
    }
  }
  .HeaderButton {
    padding: 8px 30px;
    color: var(--white);
    background: var(--header-bg);
    line-height: 24px;
  }
  .HeaderButtonDisplayNone {
    display: none;
  }
  
	.HeaderButton:hover {
		box-shadow: var(--shadow-header-button);
		color: var(--header-bg-slat);
	}
  .Logo {
    margin-right: auto;
    display: flex;
    color: var(--nav-text);
    font-size: 24px;
    gap: 10px;
    z-index: 11;
  }
  @media (max-width: 479.98px) {
    .Logo {
      flex: 0 0 50px;
    }
  }
  
  .LogoTitle {
    font-weight: 700;
  }
  
  .FirstLetter {
    color: var(--purple);
  }
  
  .MenuList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
  }
  
  .MenuItem {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    color: var(--header-text);
    padding: 30px 0;
    margin: -30px 0;
    transition: color 0.3s ease 0s;
    cursor: pointer;
  }
  @media (any-hover: hover) {
    .MenuItem:not(.MenuItemActive)::before {
      content: '';
      position: absolute;
      bottom: 15px;
      width: 100%;
      height: 2px;
      background-color: var(--purple);
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    .MenuItem:not(.MenuItemActive):hover::before {
      transform: scaleX(1);
    }
    .MenuItem:not(.MenuItemActive):hover {
      color: var(--purple);
    }
    .MenuItemActive {
      position: relative;
      color: var(--purple);
    }
    .MenuItemActive::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 20px;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 10px;
    }
  }
  
  .MenuBody {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    letter-spacing: normal;
  }
  @media (max-width: 991.98px) {
    .MenuBody {
      position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      left: -100%;
      transition: all 0.3s ease 0s;
      overflow: auto;
      background-color: var(--header-bg-mobile);
      gap: 30px;
      z-index: 10;
      padding: 50px 15px 80px 15px;
    }
    .MenuBody::before {
      content: '';
      position: fixed;
      top: 0;
      left: -100%;
      transition: all 0.3s ease 0s;
      width: 100%;
      height: 90px;
      background-color: var(--header-bg-slat);
      z-index: 2;
    }
    .MenuBodyMenuOpen {
      left: 0;
    }
    .MenuBodyMenuOpen::before {
      left: 0;
    }
    .HeaderButtonPurple {
      background: var(--purple);
      border: 1px solid var(--purple);
      font-size: 24px;
    }
    .HeaderButtonPurple:hover {
      box-shadow: var(--shadow-header-button);
      color: var(--header-bg-slat);
    }
    .HeaderButtonMenuOpen {
      display: inline-flex;
    }
  }

  .StyledHeader {
    padding: 0 var(--globalPadding);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: all 0.3s ease 0s;
    background-color: var(--header-bg);
  }
  .IconMenu {
    display: block;
    cursor: pointer;
  }
  
  @media (max-width: 991.98px) {
    .IconMenu {
      display: block;
      position: relative;
      width: 1.875rem;
      height: 1.125rem;
      z-index: 11;
      order: 9;
    }
    .MenuItem {
      font-size: 30px;
    }
    .HeaderButton {
      display: none;
    }
    .MenuListOpen {
      flex-direction: column;
      text-align: center;
      row-gap: 50px;
      font-size: 30px;
    }
  
    .IconMenu:hover {
      cursor: pointer;
    }
  
    .IconMenu span,
    .IconMenu::before,
    .IconMenu::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 0.125rem;
      background-color: var(--white);
    }
  
    .IconMenu::before {
      top: 0;
    }
  
    .IconMenu::after {
      bottom: 0;
    }
  
    .IconMenu span {
      top: calc(50% - 0.0625rem);
    }
  
    .IconMenuMenuOpen span {
      width: 0;
    }
  
    .IconMenuMenuOpen::before {
      top: calc(50% - 0.0625rem);
      transform: rotate(-45deg);
    }
  
    .IconMenuMenuOpen::after {
      bottom: calc(50% - 0.0625rem);
      transform: rotate(45deg);
    }
  }
  